body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 1430px;
    z-index: 10;
}
.logo img{
    height: 50px;
    border-radius: 40px;
}
nav ul li {
    display: inline;
    
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 50px;
}
a:hover{
    background-color: rgb(89, 89, 76);
    border-radius: 30px;
}
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.AAAA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.AAAA h1 {
    font-size: 80px;
    margin: 0;
    animation: slide-in 3s;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes slide-in{
    from{
        transform:
translatex(-100%);
    }
    to{
        transform:
translatex(0);
    }
}
span{
    font-size: 100px;
}
h6{
    font-size: 15px;
    text-align: left;
}
.container {
    text-align: center;
    background-color: rgb(58, 83, 58);
    padding: 20px;
}
h2{
    background-color: #3b483b;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    margin-bottom: 20px;
}
.content {
    display: flex;
    justify-content: space-around;
}
.image-text img {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.image-text a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
}
.image-text a:hover{
    background-color: rgb(196, 196, 127);
}
.ZZ a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(204, 231, 204);
    border-radius: 30px;
}
.AE{
    flex-direction: column;
    height: 100vh;
    text-align: center;
    position: relative;
    height: 50%;
    background-color: wheat;
}
.MM{
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}
.image{
    text-align: right;
}
h3{
    color: black;
    background-color: beige ;
}
.image img{
    width: 100%;
    max-width: 450px;
    margin-top: 20px;
    border-radius: 80px;
}
.AZ{
    flex-direction: column;
    height: 100vh;
    text-align: center;
    position: relative;
    height: 50%;
}
.NN{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.imag{
    text-align: left;
}
.imag img{
    width: 100%;
    max-width: 450px;
    border-radius: 80px;
    margin-bottom: 20px;
}
.AQ{
    flex-direction: column;
    height: 100vh;
    position: relative;
    height: 50%;
    background-color: wheat;
}
.AP{
    flex-direction: column;
    height: 100vh;
    text-align: center;
    position: relative;
    height: 50%;
}
.pp{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ima{
    text-align: left;
}
.ima img{
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 600px;
    border-radius: 80px;
    margin-top: 20px;
}
strong{
    color: brown;
}
.Assia {
    position: relative;
    height: 700px;
    width: 1450px;
    text-align: center;
}
.Assia img {
    width: 100%;
    height: 700px;
    text-align: center;
    border-radius: 20px;
}
.Edd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    background-color: white;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
p {
    font-size: 16px;
    text-align: left;
}
.eeee {
    position: relative;
    height: 700px;
    width: 1450px;
    text-align: center;
}
.A strong{
    color: #3b483b;
    font-size: 20px;
}
.eeee img {
    width: 100%;
    height: 700px;
    text-align: center;
    border-radius: 20px;
}
.contact-us {
    text-align: center;
    background-color: black;
    color: white;
}
.contact-us h1 {
    font-size: 40px;
}
.contact-us p {
   text-align: center;
}
.contact-methods {
    display: flex;
    justify-content: space-around;
}
.method img {
    height: 50px;
    margin-bottom: 20px;
}


